runpod==1.3.6

#install custom nodes dependencies

kornia>=0.7.1
spandrel
soundfile
av

numba
opencv-python-headless
pyOpenSSL
watchdog

piexif
colorama
segment-anything
scikit-image
dill
matplotlib
transformers>=4.39.0
timm>=0.9.16
attrdict
pillow>= 10.2.0
peft
accelerate>=0.26.0

